@charset "big5";
body {
	background-color: #F4EEE4;
	font-size:12pt;
}
td {
	font-size: 12pt;
}
a.green:link {text-decoration: none; color: #51CC5A;}
a.green:visited {text-decoration: none; color: #51CC5A;}
a.green:hover {text-decoration: underline; color: #51CC5A;}
a.green:active {text-decoration: none; color: #51CC5A;}

a.red:link {text-decoration: none; color: #FF0000;}
a.red:visited {text-decoration: none; color: #FF0000;}
a.red:hover {text-decoration: underline; color: #FF0000;}
a.red:active {text-decoration: none; color: #FF0000;}
.menu {
	font-size: 12pt;
	color: #215DC6;
	width:128;
	height:25; 
}
.hanggao23 {
	line-height: 23px;
}
.sub_menu { 
    border-left:1px solid white;  
	border-bottom:1px solid white; 
	border-right:1px solid white;
	overflow:hidden; 
	background:#D6DFF7; 
}
a {
	color:#000000;
	text-decoration:none;
	font-family: "º–∑¢≈È";
	font-size: 12pt;
}
a:hover { 
    color:#428EFF;
	text-decoration:underline;
}
.A {
	CURSOR:HAND;
}