@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/img-bg.jpg);
}
/*----------------------------------------------------
	會員登錄頁		主要內容
----------------------------------------------------*/

#container{
	margin:0px auto;
	padding:0px;
	width:900px;
	text-align:left;
	}
.hkhead{width:1002px; height:auto; margin-bottom:10px;}
.hklogo{ width:338px; height:53px; float:left; margin:30px 20px 15px 0px; clear:both; z-index:100; }

.content{
	margin:0px auto;
	width:100%;
	height: auto !important;
	clear:both; 
	margin:20px 0px;}
.fullshow{
	width:900px;
	height:320px;
	margin:10px auto;
	padding:0px 0px 10px 0px;
	background: url(../images/LOGIN.jpg) no-repeat;

}

.fullshow #login_c{
	position: absolute;
	width: 260px;
	height: 300px;
	z-index:100;
	/*top:100px;*/
	margin-left:650px;
	padding:10px;
	background: #87e0fd; /* Old browsers */


background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 50%); /* IE10+ */
background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}


.mlist table{
	border-spacing:0;
	border-collapse:collapse;
	width:90%;
	height:auto;
	margin:0 auto;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */

}

.mlist td{
	border-bottom:1px #ccc dashed;
	padding:10px 5px;
	vertical-align:top;
	color:#CFF;}

.mlist th{ padding:10px; text-align:left; white-space:nowrap; width:2%;}

.mlist h1{font-size:20px; font-weight:bold; color:#FFF; text-align:center;}
.mlist-boxA{float:left; width:50%;}
.mlist-boxB{float:right; width:50%; margin-top:10px;}

.mlist ul{list-style:none;}
.mlist li{display:inline; font-size:11pt; padding:5px; letter-spacing:0.1em;}
.mlist li a{ color:#CFF; text-decoration:none;}
.mlist li a:hover{ color:#FF9; text-decoration:none;}



/*------------------------------會員註冊-------------------------------*/

/*---- 登入按鈕設定 -------*/

.btn_login{ margin:5px;}
.btn_login ul{ padding:10px 5px; text-align:center;  }
.btn_login li{ width:90px; float:left;}
.btn_login a{margin:0px; display:block; height:30px; padding-bottom:5px;
background:url(../images/icon-login-btn.png) no-repeat;}

.btn_login a.s01{background-position:0px 0px;}
.btn_login a.s01:hover{background-position:0px -38px;}
.btn_login a.s02{ 
background-image:url(../images/Verification.jpg);
background-repeat:no-repeat;}
ul.btn_login li{
	margin-bottom:8px;}
ul.btn_login li input.submitB{
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 5px 20px;
    border: 1px solid #abacad;
    border-radius: 8px;
    background: #f4f6f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f6f7), to(#abacad));
    background: -moz-linear-gradient(top, #f4f6f7, #abacad);
    background: linear-gradient(to bottom, #f4f6f7, #abacad);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal normal 16px arial;
    color: #111111;
    text-decoration: none;}
ul.btn_login li input.submitB:hover,ul.btn_login li .submitB:focus{
	border: 1px solid #f4f6f7;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cdced0));
    background: -moz-linear-gradient(top, #ffffff, #cdced0);
    background: linear-gradient(to bottom, #ffffff, #cdced0);
    color: #111111;
    text-decoration: none;}
ul.btn_login li input.submitB:active{
	background: #abacad;
    background: -webkit-gradient(linear, left top, left bottom, from(#abacad), to(#abacad));
    background: -moz-linear-gradient(top, #abacad, #abacad);
    background: linear-gradient(to bottom, #abacad, #abacad);}
/*---------------------- 會員登入 -----------------------------------*/

.join table{
	border-spacing:0;
	border-collapse:collapse;
	height:auto;
	margin:0 auto;
	margin-top:20px;
	text-align:center;
	width:350px;
	
	background: -moz-linear-gradient(top,  #deefff 0%, #98bede 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deefff), color-stop(100%,#98bede)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #deefff 0%,#98bede 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #deefff 0%,#98bede 100%); /* IE10+ */
background: linear-gradient(to bottom,  #deefff 0%,#98bede 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */

}

.join td{
	border-bottom:1px #ccc dashed;
	padding:10px 5px;
	vertical-align:top;
	color:#333;}

.join th{ padding:10px; text-align:left; white-space:nowrap; width:2%;}

.join h1{font-size:20px; font-weight:bold; color:#0993; text-align:center; letter-spacing:0.2em;}
.join-boxA{float:left; width:50%; margin-top:10px;}
.join-boxB{float:right; width:50%; margin-top:10px;}

.join ul{list-style:none;}
.join li{display:inline; font-size:11pt; padding:5px; letter-spacing:0.1em;}
.join li a{ color:#93C; text-decoration:none;}
.join li a:hover{ color:#C39; text-decoration:none;}

